.navbar2{
  /* padding-left: 20px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 180px;
}

a.active{
  background-color: rgb(109, 235, 240);
}
a:hover{
  background-color: rgba(22, 165, 170, 0.589);
}
