<div class="card m-2 pt-4 border-0" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        class="img-fluid rounded-start"
        alt="{{ popular.title }}"
        src="http://image.tmdb.org/t/p/w185{{ popular.poster_path }}"
        alt="image responsive"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body p-0">
        <h2 class="card-title text-info">{{popular.title}}</h2>
        <p class="card-text ">{{popular.overview}}</p>
      </div>
    </div>
  </div>
</div>



