.popular{
  margin: 50px;
}

.popular__content-box{
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

img{
  width: 150px;
}
